@model dynamic

@{
    ViewBag.Title = "Sale and buy";
    Layout = "_Layout";
}

<h2>title</h2>
@section BuySection {
    <div>
        buy section i buy ande sale
    </div>
}
@section SaleSection {
    <div>
        sale section i buy and sale
    </div>
}