@using opg3.Pages
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <component type="typeof(Calculator)" render-mode="ServerPrerendered" />
</div>