ïṠṡ@* @model dynamic *@
@* *@
@* @{ *@
@*     Layout = null; *@
@* } *@

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @ViewBag.Hours timer + @ViewBag.Minuts minutter + @ViewBag.Seconds sekunder = @ViewBag.Total sekunder 
</div>
</body>
</html>